﻿/* Add a black background color to the top navigation */
.topnav {
    background-color: #333;
    overflow: hidden;

}

.topnav button{
    all: unset;
}
/* Style the links inside the navigation bar */
.topnav a,
.topnav button {
    float: right;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    background: none;
}

/* Change the color of links on hover */
.topnav a:hover,
.topnav button:hover {
    background-color: #ddd;
    color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
    background-color: #04AA6D;
    color: white;
}

.topnav .admin-only {
    float: left;
}

/*footer social icons */
ul.social-network {
    list-style: none;
    display: inline;
    margin-left: 0 !important;
    margin-bottom: 10px;
    padding: 15px;
    border-radius: 360px;
    /* background-color: rgba(255,255,255, 0.3); */
    z-index: inherit;
    backdrop-filter: blur(10px);

}

ul.social-network li {
    display: inline;
    margin: 0 5px;
}


/*footer social icons */
.social-network a.icoRss:hover {
    background-color: #F56505;
}

.social-network a.icoFacebook:hover {
    background-color: #3B5998;
}

.social-network a.icoTwitter:hover {
    background-color: #33ccff;
}

.social-network a.icoGoogle:hover {
    background-color: #BD3518;
}

.social-network a.icoVimeo:hover {
    background-color: #0590B8;
}

.social-network a.icoLinkedin:hover {
    background-color: #007bb7;
}

.social-network a.icoInstagram:hover {
    background-color: orangered;
}

.social-network a.icoRss:hover i,
.social-network a.icoFacebook:hover i,
.social-network a.icoTwitter:hover i,
.social-network a.icoGoogle:hover i,
.social-network a.icoVimeo:hover i,
.social-network a.icoLinkedin:hover i,
.social-network a.icoInstagram:hover i {
    color: #fff;
}

a.socialIcon:hover,
.socialHoverClass {
    color: #44BCDD;
}

.social-circle li a {
    display: inline-block;
    position: relative;
    margin: 0 auto 0 auto;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    text-align: center;
    width: 50px;
    height: 50px;
    font-size: 20px;
    background-color: rgba(255, 255, 255, 0.5);
}

.social-circle li i {
    margin: 0;
    line-height: 50px;
    text-align: center;
}

.social-circle li a:hover i,
.triggeredHover {
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -ms--transform: rotate(360deg);
    transform: rotate(360deg);
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -o-transition: all 0.2s;
    -ms-transition: all 0.2s;
    transition: all 0.2s;
}

.social-circle i {
    color: black;
    -webkit-transition: all 0.8s;
    -moz-transition: all 0.8s;
    -o-transition: all 0.8s;
    -ms-transition: all 0.8s;
    transition: all 0.8s;
}

/* body {font-family: Arial, Helvetica, sans-serif;}
* {box-sizing: border-box;} */

/* Button used to open the contact form - fixed at the bottom of the page */
.open-button {
    background-color: #555;
    color: white;
    padding: 16px 20px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    opacity: 0.8;
    position: fixed;
    bottom: 23px;
    right: 28px;
    width: 280px;
}

/* The popup form - hidden by default */
.form-popup {
    display: none;
    position: fixed;
    bottom: 15px;
    right: 15px;
    /* border: 3px solid #f1f1f1; */
    z-index: 9;
}

/* Add styles to the form container */
.form-container {
    max-width: 300px;
    padding: 10px;
    background-color: grey;
    border-radius: 10px;

    /* background-color: white; */
}

/* Full-width input fields */
.form-container input {
    width: 100%;
    padding: 25px;
    padding-inline: 50px;
    margin-bottom: 5px;
    border: none;
    /* background: #f1f1f1; */
}

/* When the inputs get focus, do something */
.form-container input:focus {
    background-color: #ddd;
    backdrop-filter: blur(10px);

    outline: none;
}

/* Set a style for the submit/login button */
/* .form-container .btn {
    background-color: #04AA6D;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    margin-top: 0px;
    width: 100%;
    margin-bottom: 10px;
    opacity: 0.8;
} */

/* Add a red background color to the cancel button */
.form-container .cancel {

    margin-top: 20px;
    background-color: red;
}

/* Add some hover effects to buttons */
.form-container .btn:hover,
.open-button:hover {
    opacity: 1;
}